/*
 ********************************************************************
    Copyright 2005 UCAR, NCAR, All Rights Reserved

    $LastChangedDate: 2005-04-21 16:12:37 -0600 (Thu, 21 Apr 2005) $

    $LastChangedRevision: 1789 $

    $LastChangedBy: maclean $

    $HeadURL: http://svn.atd.ucar.edu/svn/hiaper/ads3/dsm/class/Version.h $

    This file is used as a template to create dsm_version.h.
    At build time the string SOFTWARE_VERSION is replaced by the
    results from the svnversion command.
 ********************************************************************

*/

#ifndef DSM_VERSION_H
#define DSM_VERSION_H


static const char* softwareVersion = "SOFTWARE_VERSION";

#endif
