
#PINLOCK_BEGIN

#Mon Apr 09 11:43:17 2007

NET "A2DINT<0>"      LOC =  "S:PIN86";
NET "A2DINT<1>"      LOC =  "S:PIN87";
NET "A2DINT<2>"      LOC =  "S:PIN88";
NET "A2DINT<3>"      LOC =  "S:PIN89";
NET "A2DINT<4>"      LOC =  "S:PIN90";
NET "A2DINT<5>"      LOC =  "S:PIN91";
NET "A2DINT<6>"      LOC =  "S:PIN92";
NET "A2DINT<7>"      LOC =  "S:PIN93";
NET "AEN"            LOC =  "S:PIN74";
NET "BRDSEL"         LOC =  "S:PIN35";
NET "FIFOAFAE"       LOC =  "S:PIN95";
NET "FIFOEMPTYN"     LOC =  "S:PIN98";
NET "FIFOFULL"       LOC =  "S:PIN79";
NET "FIFOHF"         LOC =  "S:PIN78";
NET "IORN"           LOC =  "S:PIN36";
NET "IOWN"           LOC =  "S:PIN34";
NET "ONEPPS"         LOC =  "S:PIN32";
NET "PLLOUT"         LOC =  "S:PIN38";
NET "SA0"            LOC =  "S:PIN9";
NET "SA1"            LOC =  "S:PIN7";
NET "SA2"            LOC =  "S:PIN5";
NET "SA3"            LOC =  "S:PIN3";
NET "SA4"            LOC =  "S:PIN102";
NET "clk"            LOC =  "S:PIN156";
NET "A2DBUS<0>"      LOC =  "S:PIN68";
NET "A2DBUS<10>"     LOC =  "S:PIN57";
NET "A2DBUS<11>"     LOC =  "S:PIN56";
NET "A2DBUS<12>"     LOC =  "S:PIN55";
NET "A2DBUS<13>"     LOC =  "S:PIN54";
NET "A2DBUS<14>"     LOC =  "S:PIN53";
NET "A2DBUS<15>"     LOC =  "S:PIN52";
NET "A2DBUS<1>"      LOC =  "S:PIN67";
NET "A2DBUS<2>"      LOC =  "S:PIN66";
NET "A2DBUS<3>"      LOC =  "S:PIN65";
NET "A2DBUS<4>"      LOC =  "S:PIN64";
NET "A2DBUS<5>"      LOC =  "S:PIN63";
NET "A2DBUS<6>"      LOC =  "S:PIN62";
NET "A2DBUS<7>"      LOC =  "S:PIN60";
NET "A2DBUS<8>"      LOC =  "S:PIN59";
NET "A2DBUS<9>"      LOC =  "S:PIN58";
NET "A2DCLK"         LOC =  "S:PIN142";
NET "A2DCS0N"        LOC =  "S:PIN143";
NET "A2DCS1N"        LOC =  "S:PIN144";
NET "A2DCS2N"        LOC =  "S:PIN145";
NET "A2DCS3N"        LOC =  "S:PIN146";
NET "A2DCS4N"        LOC =  "S:PIN147";
NET "A2DCS5N"        LOC =  "S:PIN148";
NET "A2DCS6N"        LOC =  "S:PIN149";
NET "A2DCS7N"        LOC =  "S:PIN150";
NET "A2DINTRP"       LOC =  "S:PIN28";
NET "A2DRS"          LOC =  "S:PIN83";
NET "A2DRWN"         LOC =  "S:PIN84";
NET "A2DSYNC"        LOC =  "S:PIN85";
NET "BRDSELO"        LOC =  "S:PIN158";
NET "BSD<0>"         LOC =  "S:PIN27";
NET "BSD<10>"        LOC =  "S:PIN16";
NET "BSD<11>"        LOC =  "S:PIN15";
NET "BSD<12>"        LOC =  "S:PIN14";
NET "BSD<13>"        LOC =  "S:PIN13";
NET "BSD<14>"        LOC =  "S:PIN12";
NET "BSD<15>"        LOC =  "S:PIN11";
NET "BSD<1>"         LOC =  "S:PIN26";
NET "BSD<2>"         LOC =  "S:PIN25";
NET "BSD<3>"         LOC =  "S:PIN24";
NET "BSD<4>"         LOC =  "S:PIN23";
NET "BSD<5>"         LOC =  "S:PIN22";
NET "BSD<6>"         LOC =  "S:PIN21";
NET "BSD<7>"         LOC =  "S:PIN19";
NET "BSD<8>"         LOC =  "S:PIN18";
NET "BSD<9>"         LOC =  "S:PIN17";
NET "CAL_OFFSET<0>"  LOC =  "S:PIN128";
NET "CAL_OFFSET<10>"  LOC =  "S:PIN114";
NET "CAL_OFFSET<11>"  LOC =  "S:PIN115";
NET "CAL_OFFSET<12>"  LOC =  "S:PIN116";
NET "CAL_OFFSET<13>"  LOC =  "S:PIN117";
NET "CAL_OFFSET<14>"  LOC =  "S:PIN118";
NET "CAL_OFFSET<15>"  LOC =  "S:PIN119";
NET "CAL_OFFSET<1>"  LOC =  "S:PIN129";
NET "CAL_OFFSET<2>"  LOC =  "S:PIN130";
NET "CAL_OFFSET<3>"  LOC =  "S:PIN131";
NET "CAL_OFFSET<4>"  LOC =  "S:PIN132";
NET "CAL_OFFSET<5>"  LOC =  "S:PIN133";
NET "CAL_OFFSET<6>"  LOC =  "S:PIN134";
NET "CAL_OFFSET<7>"  LOC =  "S:PIN135";
NET "CAL_OFFSET<8>"  LOC =  "S:PIN112";
NET "CAL_OFFSET<9>"  LOC =  "S:PIN113";
NET "CLKIN"          LOC =  "S:PIN138";
NET "D2ACAL<0>"      LOC =  "S:PIN155";
NET "D2ACAL<1>"      LOC =  "S:PIN153";
NET "D2ACAL<2>"      LOC =  "S:PIN123";
NET "D2ACAL<3>"      LOC =  "S:PIN122";
NET "D2ACAL<4>"      LOC =  "S:PIN125";
NET "FIFOCLRN"       LOC =  "S:PIN96";
NET "FIFODAFN"       LOC =  "S:PIN97";
NET "FIFOLDCK"       LOC =  "S:PIN82";
NET "FIFOOE"         LOC =  "S:PIN77";
NET "FIFOUNCK"       LOC =  "S:PIN76";
NET "FSIN"           LOC =  "S:PIN151";
NET "I2CSCL"         LOC =  "S:PIN48";
NET "IOCS16N"        LOC =  "S:PIN49";
NET "LDAC"           LOC =  "S:PIN152";
NET "PLLDBN"         LOC =  "S:PIN39";
NET "SIORN"          LOC =  "S:PIN29";
NET "SIOW"           LOC =  "S:PIN30";
NET "I2CSDA"         LOC =  "S:PIN47";
NET "SDIN"           LOC =  "S:PIN139";
#PINLOCK_END
