*.log
*substvars
*.debhelper
debhelper-build-stamp
nidas/
nidas-build/
nidas-buildeol/
nidas-builduser/
nidas-daq/
nidas-dev/
nidas-doc/
nidas-libs/
nidas-min/
nidas-modules/
nidas-modules-titan/
nidas-modules-viper/
nidas-modules-amd64/
nidas-modules-vortex/
nidas-titan/
nidas-viper/
nidas-vortex/
nidas-modules-rpi2/
nidas-rpi2/
tmp/
files
changelog
uio48.1
