Source: nidas
Section: science
Priority: optional
Maintainer: Gordon Maclean <maclean@ucar.edu>
# This Build-Depends is being parsed (a syntax error causes a failure) but it doesn't
# seem to have any effect in the debuild.  If a non-existent package is specified, the build
# still succeeds
Build-Depends: debhelper (>= 9), flex, pkg-config, libxerces-c-dev (>= 3.0), libbluetooth-dev, libbz2-dev, libgsl0ldbl[armel], libgsl0-dev[armel], libgsl-dev[i386], libcap-dev, xmlrpc++-dev[armel], libxmlrpcpp-dev[i386 amd64], libmodbus-dev[i386], libboost-regex-dev, libboost-test-dev, tzdata, net-tools, valgrind[i386 amd64], uio48-dev[i386]
Standards-Version: 3.9.6
Homepage: https://github.com/ncareol/nidas.git
Vcs-Git: git://github.com/ncareol/nidas.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/nidas.git;a=summary

Package: nidas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nidas-libs
Description: Executable programs for NIDAS
 Executable programs for NIDAS, such as dsm, dsm_server, etc.

Package: nidas-libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: nidas-min, nidas-build, nidas-buildeol
Description: NIDAS shareable libraries
 Shareable libraries used by NIDAS, libnidas*.so.x.y

Package: nidas-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nidas-libs
Description: Headers, library symbolic links and pkg-config for NIDAS
 NIDAS C/C++ headers, shareable library links, pkg-config.

Package: nidas-modules-amd64
Architecture: amd64
Depends: ${misc:Depends}
Provides: nidas-modules
Description: NIDAS Linux kernel modules
 NIDAS kernel modules, built for Intel 64

Package: nidas-modules-vortex
Architecture: i386
Depends: ${misc:Depends}, lsb-base (>= 3.0-6)
Provides: nidas-modules
Description: NIDAS Linux kernel modules
 NIDAS kernel modules, built for VortexDX3 Viper

Package: nidas-vortex
Architecture: i386
Depends:  nidas, nidas-modules-vortex
Description: Meta-package for installation of NIDAS onto a VortexDX3
 Metapackage with sufficient dependencies to run NIDAS on a VortexDX3
