Source: nidas
Section: science
Priority: optional
Maintainer: Gordon Maclean <maclean@ucar.edu>
Build-Depends: debhelper (>= 9), scons (>= 2.3), flex, pkg-config, libxerces-c-dev (>= 3.0), libbluetooth-dev, libbz2-dev, libgsl0ldbl, libgsl0-dev, libcap-dev, eol-scons
Standards-Version: 3.9.6
Homepage: https://github.com/ncareol/nidas.git
Vcs-Git: git://github.com/ncareol/nidas.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/nidas.git;a=summary

Package: nidas-min
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NCAR In-Situ Data Acquistion Software
 Minimal run-time setup for NIDAS, namely /etc/ld.so.conf.d/nidas.conf.
 Useful on systems that NFS mount /opt/nidas, or do their own builds.
 Also creates /usr/lib[64]/pkgconfig/nidas.pc.

Package: nidas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nidas-libs
Description: Executable programs for NIDAS
 Executable programs for NIDAS, such as dsm, dsm_server, etc.

Package: nidas-libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nidas-min
Description: NIDAS shareable libraries
 Shareable libraries used by NIDAS, libnidas*.so.x.y

Package: nidas-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nidas-libs
Description: Headers, library symbolic links and pkg-config for NIDAS
 NIDAS C/C++ headers, shareable library links, pkg-config.

Package: nidas-modules-titan
Architecture: armel
Depends: ${misc:Depends}
Description: NIDAS Linux kernel modules
 NIDAS kernel modules, built for Eurotech Titan, running Debian armel

Package: nidas-modules-viper
Architecture: armel
Depends: ${misc:Depends}
Description: NIDAS Linux kernel modules
 NIDAS kernel modules, built for Eurotech Viper, running Debian armel

Package: nidas-daq
Architecture: all
Depends: ${misc:Depends}, nidas
Description: Package for doing data acquistion with NIDAS
 Some udev rules to expand permissions on /dev/tty[A-Z]* and /dev/usbtwod*,
 /etc/init.d/nidas-{dsm,dsm_server} boot scripts and /etc/default/nidas-daq.

Package: nidas-build
Architecture: any
Depends: ${misc:Depends}, scons (>= 2.3), libxerces-c-dev (>= 3.0), libbluetooth-dev, libbz2-dev, libgsl0-dev, libcap-dev, eol-scons
Breaks: nidas-builduser (<= 1.2+189)
Replaces: nidas-builduser (<= 1.2+189)
Description: Package for building NIDAS by hand
 Specifies software dependencies needed to build NIDAS by hand,
 and /etc/default/nidas-build containing the user and group owner
 of /opt/nidas.

Package: nidas-buildeol
Architecture: all
Depends: ${misc:Depends}
Description: Sets ower and group of /opt/nidas to root.eol
 Sets BUILD_USER=root and BUILD_GROUP=eol in /etc/default/nidas-build.

Package: nidas-titan
Architecture: armel
Depends:  nidas, nidas-modules-titan
Description: Meta-package for installation of NIDAS onto a Eurotech Titan
 Metapackage with sufficient dependencies to run NIDAS on a Eurotech Titan

Package: nidas-viper
Architecture: armel
Depends:  nidas, nidas-modules-viper
Description: Meta-package for installation of NIDAS onto a Eurotech Viper
 Metapackage with sufficient dependencies to run NIDAS on a Eurotech Viper.

Package: nidas-rpi2
Architecture: armhf
Depends:  nidas
Description: Meta-package for installation of NIDAS onto a Raspberry Pi2
 Metapackage with sufficient dependencies to run NIDAS on a Raspberry Pi2

