#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1
export DH_OPTIONS = -v

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEBVER := $(shell dpkg-parsechangelog -SVersion)
DEBVERSION := $(shell debver="$(DEBVER)"; echo "$${debver%-*}")

# $(info $(DEBVER))
# $(info $(DEBVERSION))

ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
    $(info native build)
    BUILDS := host
else ifeq ($(DEB_HOST_GNU_TYPE),arm-linux-gnueabi)
    $(info armel build)
    BUILDS := armel
else
    $(error DEB_HOST_GNU_TYPE=$(DEB_HOST_GNU_TYPE) is not supported)
endif

# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_auto_build:
	dh_auto_build -- BUILDS=$(BUILDS) REPO_TAG=v$(DEBVER)

override_dh_auto_install:
	dh_auto_install -- BUILDS=$(BUILDS) REPO_TAG=v$(DEBVER) PREFIX=/opt/nidas

override_dh_auto_clean:
	dh_auto_clean -- BUILDS=$(BUILDS)

